body {
    background-color: #f5f5f5;
    width: 600px;
    margin: 0 auto;
    padding: 0;
}

h1 {
    color: red;
    letter-spacing: -2px;
    text-align: left;
}

#toDoTable {
    color: #555;
    font-size: 22px;
    padding: 0 !important;
    width: 500px;
    font-family: courier, monospace;
    border: 1px solid #dedede;
}
#toDoTable tr {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    text-indent: 25px;
    height: auto;
    padding: 10px;
}

.lines {
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 2px;
    float: left;
    height: 495px;
}

[data-status = "true"]{
    text-decoration: line-through;
}

#toDoTable{
    border-collapse: collapse;
    border-spacing: 15px 0px;
    border: 2px;
}

.checkbox :hover{
    background-color: lightgray;
}