body {
    background-color: #f2eecb;
    width: 600px;
    margin: 0 auto;
    padding: 0;
    font-family: courier, monospace;
}

h1 {
    color: red;
    letter-spacing: -2px;
    text-align: left;
    font-family: courier, monospace;
}

#toDoTable, #userIn {
    font-size: 22px;
    padding: 0 !important;
    width: 500px;
    font-family: courier, monospace;
    border: 1px solid #dedede;
}
#toDoTable tr {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    text-indent: 25px;
    height: auto;
    padding: 10px;
}

/* #redVerticalLines {
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 2px;
    float: left;
    height: 100vh; /* sets the lines to the height of the broser window
}*/

[data-status = "true"]{
    text-decoration: line-through;
}

#toDoTable{
    border-collapse: collapse;
    border-spacing: 15px 0px;
    border: 2px;
}

.taskRow :hover{
    background-color: lightgray;
}

input[type="text"]{
    background-color: transparent;
    outline: transparent;
}

button {
    font-family: courier, monospace;
    font-size: 22px;
    background-color: transparent
}